:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --note-title-bg: #ddffff;
  --note-body-bg: #ffffdd;
  --note-err: #ffdddd;
}

body {
  margin: 0;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin-top: 0;
}